body {
  background-image:url('https://ak9.picdn.net/shutterstock/videos/13105709/thumb/6.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  color: white;
}

.hide {
  display: none;
}

span {
  margin-left: 20px;
}

.dice-select {
  text-align: center;
  font-size: 1.5em;
}

.roll-buttons {
  text-align: center;
}

.current-roll {
  text-align: center;
  font-size: 3em;
}

.current-roll div {
  display: inline;
  margin-left: 20px;
  font-size: 1.5em;
}


[id='0']:hover {
  cursor: pointer;
  color: #0000CD;
}
[id='1']:hover {
  cursor: pointer;
  color: #0000CD;
}
[id='2']:hover {
  cursor: pointer;
  color: #0000CD;
}
[id='3']:hover {
  cursor: pointer;
  color: #0000CD;
}
[id='4']:hover {
  cursor: pointer;
  color: #0000CD;
}
[id='5']:hover {
  cursor: pointer;
  color: #0000CD;
}

.roll-buttons button {
  /*width: 100px;
  height: 35px; */
  cursor: pointer;

}

.stakes button {
  font-size: 1.2em;
  color: #32CD32;
}

.scoreboard {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 1.5em;
  color: white;
}

#current-stake {
  font-size: 1.3em
}

.dolla {
  font-size: 1.3em;
}


#p1-score, #p2-score, #p3-score, #p4-score, #p5-score {
  margin-left: 0;
}

#table {
  text-decoration: underline;
}

#display-stake {
  position: absolute;
  top: 2%;
  right: 42%;
  font-size: 1.5em;
}

#display-pot {
  position: absolute;
  top:8%;
  right: 42%;
  font-size: 1.5em;
  margin-top:60px;
}

.players button {
  cursor: pointer;
  color: red;
}

.r {
  color: red;
}

.b {
  color: black;
}

.p {
  color: pink;
}

.bl {
  color: blue;
}

.o {
  color: orange;
}

#dizice0, #dizice1, #dizice2, #dizice3, #dizice4, #dizice5 {font-size: 6rem;}

.dice-animation {
  text-align: center;
}

.roll-area {


}
