body {
  background-image:url('images/dice.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  color: white;
}

.hide {
  display: none;
}

span {
  margin-left: 20px;
}

.dice-select {
  text-align: center;
  font-size: 2em;
}

.roll-buttons {
  text-align: center;
}

.current-roll {
  text-align: center;
  font-size: 3em;
  text-shadow: 4px 4px black;
}

.current-roll div {
  display: inline;
  margin-left: 20px;
  font-size: 1.5em;
  color: red;
}


[id='0']:hover {
  cursor: pointer;
  color: #0000CD;
}
[id='1']:hover {
  cursor: pointer;
  color: #0000CD;
}
[id='2']:hover {
  cursor: pointer;
  color: #0000CD;
}
[id='3']:hover {
  cursor: pointer;
  color: #0000CD;
}
[id='4']:hover {
  cursor: pointer;
  color: #0000CD;
}
[id='5']:hover {
  cursor: pointer;
  color: #0000CD;
}

.roll-buttons button {
  cursor: pointer;
}

.stakes button {
  font-size: 1.2em;
  color: #32CD32;
}

.scoreboard {
  font-size: 1.5em;
  color: white;
}


#current-stake {
  font-size: 1.3em;
}

#c-roll-text {
  color:white;
}

#current-stake-text {
  text-shadow: 2px 2px blue;
}

#current-pot-text {
  text-shadow: 2px 2px blue;
}

.dolla {
  font-size: 1.3em;
}


#p1-score, #p2-score, #p3-score, #p4-score, #p5-score {
  margin-left: 0;
}

#table {
  text-decoration: underline;
}


#display-stake {
  font-size: 1.5em;
  color: white;
}

#display-pot {
  font-size: 1.5em;
  color: white;
}

.players button {
  cursor: pointer;
  color: red;
}

.r {
  color: red;
  text-shadow: 2px 2px black;
}

.b {
  color: lime;
  text-shadow: 2px 2px black;
}

.p {
  color: pink;
  text-shadow: 2px 2px black;
}

.bl {
  color: blue;
  text-shadow: 2px 2px black;
}

.o {
  color: orange;
  text-shadow: 2px 2px black;
}


.dice-animation {
  text-align: center;
}

.midnight {
  background-image:url('https://www.photoshopcreative.co.uk/users/11239/thm1024/1335999679_midnight%20fin.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

td {
  border-style:outset;
}
